{
  "extends": ["standard", "plugin:react/recommended"],
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": 0
  },
  "parser": "babel-eslint"
}
