{
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["react", "jest"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": 0
  },
  "parser": "babel-eslint"
}
